<h1>Create a Provider Account</h1>

<!-- validations for creating a provider, errors called here-->
<% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider account from being saved:</h2>

     <ul>
      <% @provider.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<%end%>


<%= form_for @provider do |f| %>

  <div>
    <%= f.label :pname, "Name" %>
    <%= f.text_field :pname %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :category%>
    <%= f.text_field :category%> <!--create into a drop down-->
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit %>
<% end %>