<section id="content">
    <div class="main padder">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 m-t-large">
          <section class="panel">
            <header class="panel-heading text-center">
              Regístrate
            </header>
            <!-- validations for creating a provider, errors called here-->
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user account from being saved:</h2>

                     <ul>
                      <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                <%end%>


                <div class="panel-body">
                <%= form_for @user do |f| %>
                    <div class="block">
                    <label>Usuario</label>
                    <%= f.text_field :username, class: 'form-control', placeholder: 'Nombre' %>
                    </div>
                    <div class="block">
                    <label>Email</label>
                    <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
                    </div>
                    <div class="block">
                    <label>Contreseña</label>
                    <%= f.password_field :password, class: 'form-control', placeholder: 'Contraseña' %>
                    </div>
                    <div class="block">
                    <label>Confirma tu contraseña</label>
                    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirma tu contraseña' %>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Acepto los <a href="#">términos y condiciones</a>
                      </label>
                    </div>

                  <%= f.submit 'Crear cuenta', class: "btn btn-info" %>
                <% end %>
              <div class="line line-dashed"></div>
              <div class="row">
                <div class="col-sm-12 text-center">
                   <a href="#" class="btn btn-facebook btn-circle btn-sm"><i class="glyphicon glyphicon-thumbs-up"></i>Conecta con Facebook</a>
                </div>
              </div>
              <div class="line line-dashed"></div>
              <p class="text-muted text-center"><small>¿Ya tienes una cuenta?</small></p>
              <a href="#" class="btn btn-white btn-block">Ingresa</a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>&copy; SAM 2013. Todos los derechos reservados</small><br><br>
      </p>
    </div>
  </footer>