<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>

<% if @user.events.count == 0 %>
<h3>No upcoming appointments.</h3>
<% else %>
<% @user.events.each do |event| %>
<td><%= event.starts_at %></td>
<td><%= event.ends_at %></td>

<div><%= link_to event.starts_at, event_path(event) %></div>
<% end %>
<% end %>