<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "SAM", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          
        
        <% if signed_in? %>
            
            <li> <%= link_to "Sign out", sign_out_path %>
            </li>
           <% if @current_user == nil  && @current_provider != nil%>
            <li>
                <%= @current_provider.pname%>
                
                <%= link_to "My appointments", providers_events_path %>
            </li>
            <% elsif @current_provider && @current_user != nil %>
            <li>
                <%= @current_user.username%>
                <%= link_to "My appointments", users_events_path %>
            </li>
            <% end %>
        <% else %>
            <li>
              <%= link_to "Sign in (users)", sign_in_path %>
              <%= link_to "Sign in (providers)", psign_in_path %>
            </li>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>